In [ ]:
#importing dependencies
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
tf.random.set_seed(3)
from tensorflow import keras

In [ ]:
#importing dataset
dataset = pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
#getting some info about the dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
#cheking the null values
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
dataset['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [ ]:
dataset = dataset.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [ ]:
dataset['Geography'] = dataset['Geography'].map({'France': 1, 'Germany': 0, 'Spain': 2})

In [ ]:
dataset['Gender'] = dataset['Gender'].map({'Male': 1, 'Female': 0})

In [ ]:
X = dataset.drop(columns='Exited',axis=1)
Y = dataset['Exited']

In [ ]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,1,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,1,0,42,8,159660.80,3,1,0,113931.57
3,699,1,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,1,1,39,5,0.00,2,1,0,96270.64
9996,516,1,1,35,10,57369.61,1,1,1,101699.77
9997,709,1,0,36,7,0.00,1,0,1,42085.58
9998,772,0,1,42,3,75075.31,2,1,0,92888.52
9999,792,1,0,28,4,130142.79,1,1,0,38190.78

In [ ]:
Y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
#splitting the data into traintestsplit
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=4)

In [ ]:
X.shape,X_train.shape,X_test.shape

((10000, 10), (8000, 10), (2000, 10))

In [ ]:
scaler = StandardScaler()

In [ ]:
X_train_std = scaler.fit_transform(X_train)
X_test_std = scaler.transform(X_test)

In [ ]:
#Building an Ann model
model = keras.Sequential()
model.add(keras.layers.Flatten(input_shape=(10,)))
model.add(keras.layers.Dense(units=10,activation='relu'))
model.add(keras.layers.Dense(units=15,activation='relu'))
model.add(keras.layers.Dense(2,activation='sigmoid'))

In [ ]:
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten (Flatten)           (None, 10)                0

 dense (Dense)               (None, 10)                110

 dense_1 (Dense)             (None, 15)                165

 dense_2 (Dense)             (None, 2)                 32

=================================================================
Total params: 307 (1.20 KB)
Trainable params: 307 (1.20 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
history = model.fit(X_train_std,Y_train,validation_split=0.1,epochs=30)

Epoch 1/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8615 - val_loss: 0.3792 - val_accuracy: 0.8413
Epoch 2/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8614 - val_loss: 0.3790 - val_accuracy: 0.8413
Epoch 3/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8614 - val_loss: 0.3818 - val_accuracy: 0.8400
Epoch 4/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8597 - val_loss: 0.3792 - val_accuracy: 0.8438
Epoch 5/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8608 - val_loss: 0.3810 - val_accuracy: 0.8450
Epoch 6/30
225/225 [==============================] - 1s 3ms/step - loss: 0.3365 - accuracy: 0.8583 - val_loss: 0.3775 - val_accuracy: 0.8425
Epoch 7/30
225/225 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8617 - val_loss: 0.3811 - val_accuracy: 0.8400
Epoch 8/30
225/225 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8611 - val_loss: 0.3786 - val_accuracy: 0.8450
Epoch 9/30
225/225 [==============================] - 1s 3ms/step - loss: 0.3349 - accuracy: 0.8606 - val_loss: 0.3767 - val_accuracy: 0.8438
Epoch 10/30
225/225 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8618 - val_loss: 0.3790 - val_accuracy: 0.8400
Epoch 11/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8618 - val_loss: 0.3753 - val_accuracy: 0.8438
Epoch 12/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8596 - val_loss: 0.3774 - val_accuracy: 0.8413
Epoch 13/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8619 - val_loss: 0.3781 - val_accuracy: 0.8475
Epoch 14/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8606 - val_loss: 0.3824 - val_accuracy: 0.8413
Epoch 15/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8615 - val_loss: 0.3740 - val_accuracy: 0.8450
Epoch 16/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8607 - val_loss: 0.3742 - val_accuracy: 0.8450
Epoch 17/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8612 - val_loss: 0.3793 - val_accuracy: 0.8462
Epoch 18/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8631 - val_loss: 0.3773 - val_accuracy: 0.8425
Epoch 19/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8618 - val_loss: 0.3770 - val_accuracy: 0.8425
Epoch 20/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8621 - val_loss: 0.3760 - val_accuracy: 0.8450
Epoch 21/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8625 - val_loss: 0.3819 - val_accuracy: 0.8400
Epoch 22/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8625 - val_loss: 0.3749 - val_accuracy: 0.8462
Epoch 23/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8622 - val_loss: 0.3757 - val_accuracy: 0.8475
Epoch 24/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3316 - accuracy: 0.8633 - val_loss: 0.3767 - val_accuracy: 0.8450
Epoch 25/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8628 - val_loss: 0.3824 - val_accuracy: 0.8438
Epoch 26/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8633 - val_loss: 0.3746 - val_accuracy: 0.8438
Epoch 27/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8631 - val_loss: 0.3785 - val_accuracy: 0.8438
Epoch 28/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8625 - val_loss: 0.3744 - val_accuracy: 0.8475
Epoch 29/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8607 - val_loss: 0.3763 - val_accuracy: 0.8438
Epoch 30/30
225/225 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8615 - val_loss: 0.3742 - val_accuracy: 0.8450

In [ ]:
loss,accuracy = model.evaluate(X_test_std,Y_test)
print("Accuracy for testing data is ",round(accuracy*100,2),"%")

63/63 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8660
Accuracy for testing data is  86.6 %